{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
{% endblock %}
{% block content %}
    {% include "search-bar.html" %}
    <div class="full-page d-flex flex-wrap justify-content-center align-items-center">
        <div class="container d-flex flex-column flex-wrap justify-content-start align-items-center text-center py-5 m-auto margin-mobile">
            <h1>{{ name }}</h1>
            <h3> Estatisticas basicas: </h3>
            <div class="d-flex flex-wrap justify-content-center align-items-stretch mb-4">
                {% for i in stats %}
                    <div class="p-3 stat {{ i.stat.name }} d-flex justify-content-center align-items-center">
                            {{ " ".join(i.stat.name.split("-")) }}: {{ i.base_stat }}
                    </div>
                {% endfor %}
            </div>
            <div class="container d-flex flex-wrap justify-content-center align-items-center text-center m-auto">
                <h4 class="my-auto"> Tipo: </h4>
                {% for i in types %}
                    <div class="{{ i.type.name }} pk-type">
                        {{ i.type.name }}
                    </div>
                {% endfor %}
            </div>
            <div class="flex-row container d-flex flex-wrap justify-content-center align-items-center text-center mt-2">
                {% if sprites[0] != "" %}
                    <div>
                        <p> Macho: </p>
                        <img src={{ sprites[0] }}>
                        <img src={{ sprites[1] }}>
                    </div>
                {% endif %}
    
                {% if sprites[2] != "" %}
                    <div>
                        <p> Femia: </p>
                        <img src={{ sprites[2] }}>
                        <img src={{ sprites[3] }}>
                    </div>
                {% endif %}
    
                {% if sprites[4] != "" %}
                    <div>
                        <p> Brilhante: </p>
                        <img src={{ sprites[4] }}>
                        <img src={{ sprites[5] }}>
                    </div>
                {% endif %}
    
                {% if sprites[6] != "" %}
                    <div>
                        <p> Femea Brilhante: </p>
                        <img src={{ sprites[6] }}>
                        <img src={{ sprites[7] }}>
                    </div>
                {% endif %}
            </div>
            <p>Peso medio: {{ weight }} libras </p>
        </div>
    </div>
{% endblock %}